*{
  margin: 0;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.header {
  background-image: url(Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  
  
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-logo{
    color: #4E47FF;
    font-size: 32px;
    margin: 50px 150px 50px 150px;

}
nav a{
  margin: 50px 150px 50px 150px;
}
.btn-secondary { 

  background-color: #4e4bff;
  color: white;
  padding: 10px 35px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 700;
  border: none;
  
  
}
.text-header{
    text-align: center;
    font-size: 65px;
    margin-top: 50px;
    margin-bottom: 37px;
    
}
.stay-focused {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.btn-primary{
  margin: 35px 630px 155px 630px;
  
  
}
.btn-stay{
  margin-bottom: 152px;
}
.section-1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 116px 165px 116px 155px;
}
.section-1-title{
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 23px;
}
.section-1-text{
  font-weight: 400;
  font-size: 24px;
  color: #252432;
  margin-bottom: 23px;
}
  .section-1-img{
  border-radius: 48px;
}
