*{
  margin: 0;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
body{
  background-color: #F0F2FB;
}
.header {
  background-image: url(Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  
  
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-logo{
    color: #4E47FF;
    font-size: 32px;
    margin: 50px 150px 50px 150px;

}
nav a{
  margin: 50px 150px 50px 150px;
}
.btn-secondary { 

  background-color: #4e4bff;
  color: white;
  padding: 10px 35px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 700;
  border: none;
  
  
}
.text-header{
    text-align: center;
    font-size: 65px;
    margin-top: 50px;
    margin-bottom: 37px;
    
}
.stay-focused {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.btn-primary{
  margin: 35px 630px 155px 630px;
  
  
}
.btn-stay{
  margin-bottom: 152px;
}
.section-1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 116px 165px 116px 155px;
}
.section-1-title{
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 23px;
}
.section-1-text{
  font-weight: 400;
  font-size: 24px;
  color: #252432;
  margin-bottom: 23px;
}
  .section-1-img{
  border-radius: 48px;
}
.sec-2{
  height: 306px;
  background-color: #E6E8FF;
  margin: 116px 165px 116px 155px;
  border-radius: 24px;
  padding: 50px 142px 0px 142px;
}
.main-div-sec-2{
  display: flex;
  gap: 158px;
  justify-content: center;
  text-align: center;
}
.heading-sec-2{
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  color: #252432;
}
.main-div-sec-2 h1{
  font-size: 80px;
  color: #4E47FF;
}
.main-div-sec-2 p{
  font-weight: 600;
}
/* footer styles */
.Touch-Section {
    padding: 130px 150px;
    display: flex;
    gap: 90px;
}
.touch-column{
    width: 50%;
}

.Touch-Section input[type="text"], .Touch-Section input[type="email"],.Touch-Section textarea{
    height: 50px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
.Touch-Section textarea{
    height: 100px;
    
}
.Touch-title{
  font-weight: 700;
  font-size: 97px;
  margin-top: 110px;
}
.input-lebel{
  margin-bottom: 5px;
}
.btn-get-in-touch { 
  background-color: #4e4bff;
  color: white;
  width: 650px;
  height: 62px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  border: none;
}
textarea::placeholder {
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 20px;
}
/* footer styles */
footer {
  width: 100%;
  height: 430px;
  background-color: white;
}
.footer-sec {
  font-size: 120px;
  font-weight: 900;
  text-align: center;
  color: #4e47ff;
  padding-top: 100px;
}
footer p {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  color: #8987a1;
}
.footer-nav {
  font-family: "Inter", sans-serif;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 48px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}
.footer-nav a {
  text-decoration: none;
  color: #8987a1;
}
